@import url(./_reset.scss);
@import url(./components/Layout/header/header.scss);
@import url(./components/Layout/navBar/nawBar.scss);
@import url(./components/tasksPage.scss);

body {
	margin: 0;
}
.main {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: row;
}
